
/*
Sidebar specific styles
*/

/*Sidebar as a whole*/
#sidebar{
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    width: 400px;
    background-color: #663300;
    border: medium black outset;
}
/*
Sidebar menu
*/
#sidebar_outer{
    position: relative;
    top: 20px;
    width: 80%;
    margin: 0 auto;
}

/*Inner part of accordion*/
#sidebar_outer .ui-accordion-content{
    background-color: #6D8A88;
    color: white;
    font-size: 10pt;
    line-height: 16pt;
    height: 100%;
}

/*Accordion header*/
#sidebar_outer .ui-accordion-header{
    color:#ffffff;
    background-color: darkslategray;
}

.sidebar_inner {

}

.sidebar_link:hover{
    cursor: pointer;
    background-color: #3B652a;
}

/*
Problem viewer
*/

/*Problem viewer as a whole*/
#problem_view{
    position: absolute;
    left: 420px;
    top: 10%;
    height: 60%;
    width: 70%;
    background-color: #3B653D;
    border: thick inset silver;
    border-radius: 4px;
    color:ghostwhite;
}

/*Inner problem viewer*/
.problem_view{
    padding: 10%;
    display: inline-block;
}

.button {
    margin: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#fourohfour{
    position: relative;
    width: 95%;
    margin: 0 auto;
}

/*
Background
*/
#background{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}
#wall{
    position: relative;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #FFFDD0;
}

#upper_border{
    position:relative;
    width: 100%;
    height: 10%;
    top:0;
    left:0;
    background-color: royalblue;
    color:white;
}

#upper_border #tiles{
    position:relative;
    width:100%;
    height: 90%;
    margin: 0 auto;
}

#upper_border #tiles tr td{
    border: 1px solid black;
    background-color: #007fff;
    text-shadow: 1px 1px black;
    width: 4%;
    font-size: 4vw;
    height: 90%;
    margin: 0 auto;
}

#lower_border{
    position:absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    background: #b69b4c;
    border: medium saddlebrown solid;
}

.window{

}

#window1{

}

#window2{

}
.accordion-expand-holder {
    margin:10px 0;
}
.accordion-expand-holder .open, .accordion-expand-holder .close {
    margin:0 10px 0 0;
}

.ui-accordion-content{
    height:auto;
}

span.frac {
    display: inline-block;
    font-size: large;
    text-align: center;
}
span.frac > sup {
    display: block;
    border-bottom: 1px solid;
    font: inherit;
}
span.frac > span {
    display: none;
}
span.frac > sub {
    display: block;
    font: inherit;
}